<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.appoa.afrecorder">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>

        <!-- 视频拍摄 -->
        <activity
            android:name="cn.appoa.afrecorder.activity.JCameraViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullTheme" />

    </application>

</manifest>
