<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.appoa.afmedia">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>

        <!-- 视频播放 -->
        <activity
            android:name="cn.appoa.afmedia.activity.AfVideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppFullTheme" />

    </application>

</manifest>
